/* body{
  cursor: pointer;
} */
.clickable{
  cursor: pointer;
  display:none;
  color:orange;
}
.clickable:hover{
  background:green;
  border:2px solid limegreen;
  color:white;
  font-size:30px;

}
html,body{
  overflow-x: hidden; 
}

/* .container{
  margin-top:-15px;;
} */

#append-timer{
  color:orange;
  font-size:50px;
  font-weight:600;
}

.card{
  display:none;
}

.header{
  text-align: center;
  padding-top:1vh;
  padding-bottom: 1.5vh;
  background:#003399;
  color:#FF9933;
  font-family: 'Merriweather', serif;
  font-size: 80px;
  font-weight: 700;
  margin-bottom:0;
}

button{
  background:#99CCCC;
  margin-top:5vh;
}

#start-button{
  font-size:70px;
  font-family: 'Merriweather', serif;
}
#hide-me{
  font-family: 'Merriweather', serif;
  font-size:30px;
  font-weight:400;
  margin:1vh 0 1vh 0;
  color:rgb(248, 183, 62);
}

.border-success{
  border:3px solid green;
  color:green;
  margin: 1vh 0 1vh 0
}
.border-danger{
  border:3px solid red;
  color:red;
  margin: 1vh 0 1vh 0
}

#wrong-guess,#right-guess{
  font-size:35px;
}

#music-button{
  position:absolute;
  left:-3vw;
  top:-5vh;;
  display:none;
}

.wrapper {
  overflow: hidden;
}

.sliding-background {
  margin-top:0;
  position:absolute;
  z-index:0;
  background: url(pics/USA-background.jpg) repeat-x;
  height: 80vh;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

/* #question{
  color:white;
  background:
} */