/* body{
  cursor: pointer;
} */
.clickable{
  cursor: pointer;
  display:none
}
.clickable:hover{
  background:green;
  border:2px solid limegreen;

}

#append-timer{
  color:orange;
  font-size:50px;
  font-weight:600;
}

.card{
  display:none;
}

.header{
  text-align: center;
  padding-top:1vh;
  padding-bottom: 1.5vh;
  background:#003399;
  color:#FF9933;
  font-family: 'Merriweather', serif;
  font-size: 80px;
  font-weight: 700;
}

button{
  background:#99CCCC;
  margin-top:5vh;
}

#start-button{
  font-size:70px;
  font-family: 'Merriweather', serif;
}
#hide-me{
  font-family: 'Merriweather', serif;
  font-size:25px;
  font-weight:400;
  margin:1vh 0 1vh 0;
  color:#606060;
}

.border-success{
  border:3px solid green;
  color:green;
  margin: 1vh 0 1vh 0
}
.border-danger{
  border:3px solid red;
  color:red;
  margin: 1vh 0 1vh 0
}

#wrong-guess,#right-guess{
  font-size:35px;
}

/* #question{
  color:white;
  background:
} */